.footer_wrap
    - var now = new Date()
    - var nowYear = now.getFullYear()
    if theme.since && theme.since != nowYear
        .copyright!= `&copy;${theme.since} - ${nowYear} by ${config.author}`
    else
        .copyright!= `&copy;${nowYear} by ${config.author}`
    .theme-info Powered by #[a(href='https://hexo.io' rel='nofollow') Hexo] & #[a(href='https://github.com/PhosphorW/hexo-theme-academia' rel='nofollow') Academia Theme]