.side-card.sticky
    .card-wrap(itemscope itemtype='http://schema.org/Person')
        .author-avatar
            img.avatar-img(src=url_for(theme.avatar) onerror=`this.onerror=null;this.src='` + url_for(theme.loading_bg.flink) + `'` alt="avatar")
        .author-discrip
            h3= config.author || theme.author
            p.author-bio= theme.author_bio
        .author-links
            button.btn.m-social-links Links
            if(theme.social.enable)
                ul.social-icons
                    each url, icon in theme.social_links
                        li
                            a.social-icon(href=url target="_blank")
                                i(class=icon aria-hidden="true")
            if(theme.e_social.enable)
                ul.social-links
                    each value, name in theme.e_social_links
                        li
                            a.e-social-link(href=url_for(trim(value.split('||')[0])) target="_blank")
                                i(class=trim(value.split('||')[1]) aria-hidden="true")
                                span= name
        if(theme.cv_dl.enable)
            a.cv-links(href=url_for(theme.cv_dl.dir) target="_blank")
                i(class="fas fa-file-pdf" aria-hidden="true")
                    span= theme.cv_dl.description